*{
    font-family: 'Indie Flower', cursive;
}
:root{
    --main : rgb(92,242,120);
    --middle: rgb(160,230,99);
    --sec: rgb(242,235,92);
    --accent: rgb(255, 69, 0);
    --black: rgb(6,15,8);
    --white: rgb(255,247,215);

}

.tc-main{
    color: var(--main);
}
.tc-middle{
    color: var(--middle);
}
.tc-sec{
    color: var(--sec);
}
.tc-white{
    color: var(--white);
}
.tc-linear{
    background: linear-gradient(to right, var(--main), var(--sec), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bg-main{
    background-color: var(--main);
}
.bg-middle{
    background-color: var(--middle);
}
.bg-sec{
    background-color: var(--sec);
}

@keyframes play {
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

#background-image{
    width: 100%;
    height: 100vh;
    position: absolute;    
    z-index: -1;
    background-position: center;
    /* background-size: cover; */
    filter: blur(5px);
}
#sidebar{
    width: 300px;
    height: 100vh;
    position: absolute;
    left: -300px;
    top: 0px;
    background-color: var(--black);
    transition: all 0.5s;
    z-index: 2;
    overflow-y: auto;
}
#sidebar.open{
    left: 0px;
}

.player{
    width: 100vw;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    
}

.player .header{
    height: 7%;
    background-color: var(--black);
}

.player .display{
    width: 100vw;
    height: 76vh;
    background-color: transparent;
    padding-bottom: 49px!important;
}
.cover{
    width: 250px;
    height: 250px;
    border-radius: 100% ;
    box-shadow: 0px 0px 40px var(--black), 0px 0px 80px var(--sec);
    overflow: hidden;
}
/* #track-cover.active{
    ani
} */
.player .commands{
    height: 96px;
    width: 100%;
    background-color: var(--black);
    position: fixed;
    bottom: 0;
}
.artist{
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.time{
    margin: 0!important;
    padding-bottom: 40px!important;
}
#play-btn, #pause-btn, #next-btn, #prev-btn, #sidebar-toggle,#random-btn,.fa-napster{
    cursor: pointer;
}
.thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.border-b{
    border-bottom: 2px solid var(--main);
}
.track-card.active{
    background: linear-gradient(var(--black) 85%, var(--sec));
}
.track-card .fa-pause-circle{
    display: none;
}
.track-card.active .fa-play-circle{
    display: none;
}
.track-card.active .fa-pause-circle{
    display: block;
}
.border-b.active{
    border-bottom: 2px solid var(--sec);
    
}

#volume-btn{
    cursor: pointer;
    width: 37px;
    position: absolute;
    bottom: 56px;
    right: 27px;
    transition: .2s;
    transform-origin: center bottom;
    color: var(--main)!important;
}
#volume-btn:hover{
    color: var(--sec)!important;
}
#volume-btn:hover>.volume-bar{
    height: 100px;
    opacity: 0.7;
}
.volume-bar{
    background-color: var(--middle);
    opacity: 0;
    height: 0px;
    padding-top: 6px;
    border-radius: 4px;
    overflow: hidden;
    transition: .3s ease-out;
}
#volume-slider{
    background-color: var(--white);
    height: 85px;
    width: 4px;
    margin: 0 auto;
    border-radius: 999px;
    
}
#volume-cursor{
    position:relative;
    height: 60%;
    background-color: darkgray;
    border-radius: 999px;
    transition: .1s;
}
#volume-cursor-handle{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    bottom:-5px;
    left: -3px;
    border-radius: 50%;
}
.track-info{
    margin: 0 0 0 5px!important;
    padding: 4px 0!important;
}
#track-artist{
    font-size: 18px!important;
    padding-left: 14px;
}
#track-title{
    padding-left: 20px;
    font-size: 10px!important;
}


.progress-container {
    background: var(--white);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
    padding-top: 13px!important;
    overflow: hidden;
  }

  .progress {
   display:block;
    box-shadow:0px 0px 5px 2px rgba(140, 205, 240, 0.228);
    border-radius:3px;
    position: absolute;
    bottom: 0px;
    height:13px;
    
    width:0%;
    background-color:var(--middle);
    background-size:16px;
    background-image: linear-gradient(#fff4, #fff4), linear-gradient(130deg, transparent 33%, var(--dark-main) 33%, var(--dark-main) 66%, transparent 66%);
    animation-name: loading;
    animation-duration:.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    overflow:hidden;
    transition: height .5s;
  }

  #random-btn.active{
    color: var(--accent);
    text-shadow:  -5px 0px 20px var(--sec);
    
  }

  #simple-scrollbar::-webkit-scrollbar-track{
    border: 1px solid var(--black);
    background-color: var(--middle);
  }
  #simple-scrollbar::-webkit-scrollbar{
    width: 10px;
    background-color: var(--middle);
  }
  #simple-scrollbar::-webkit-scrollbar-thumb{
    background-color: var(--black);
  }
  .end{
      padding-top: 8px!important;
  }

@keyframes loading {
    0%{
        background-position:0px
    }
    100%
    {
        background-position:16px
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height:1px;
}
/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(var(--main) , var(--black) );
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  var(--accent);
}



@media screen and (max-width:320px) {
    .cover{
        width: 220px!important;
        height: 220px!important;
        border-radius: 100% ;
        box-shadow: 0px 0px 40px var(--black), 0px 0px 80px var(--sec);
        overflow: hidden;
    }
    #track-cover.active{
        width: 270px!important;
        height: 270px!important;
        animation-name: play;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .end{
        width: 102vw;
        
    }
    
}

@media screen and (min-width: 321px) {
    /* for Desktop */
    .track-info{
        margin: 0px!important;
        padding-left: 5px!important;
    }
    #track-artist{
        font-size: 15px!important;
        padding-left: 14px;
    }
    #track-title{
        padding-left: 15px;
        font-size: 14px!important;
    }
    .cover{
        width: 350px;
        height: 350px;
        border-radius: 100% ;
        transition: all 0.5s;
        overflow: hidden;        
    }
    #track-cover.active{
        width: 400px;
        height: 400px;
        animation-name: play;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        overflow: hidden;
    }
    .player .display{
        height: 85vh;
        overflow: hidden;
    }
    .artist{
        font-size: 20px;
    }
    .time{
        font-size: 25px!important;        
        margin: 0 30px 0 0!important;
        padding: 0 0 100px 0!important;
    }
    #total-time{
        padding-left: 23px!important;
    }
    .end{
        padding: 0 0 4px 0!important;
    }
}


@media screen and (min-width: 769px) {
    .cover{
        width: 500px;
        height: 500px;
        border-radius: 100%;
        transition: all 0.5s;        
    }
    #track-cover.active{
        width: 550px;
        height: 550px;
        animation-name: play;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        overflow: hidden;
    }
}