@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden!important;
}

/* heplers class */

:root{
    --blue: #20275C;
    --green: #10d58a;
    --accent: #ffd579;
    --dark: #070814;
    --white: #fbfbfb;
}

.bg-blue{
    background-color: var(--blue);
}

.bg-green{
    background-color: var(--green);
}

.bg-accent{
    background-color: var(--accent);
}

.bg-dark{
    background-color: var(--dark);
}

.bg-white{
    background-color: var(--white);
}

.tc-blue{
    color: var(--blue);
}

.tc-green{
    color: var(--green);
}

.tc-accent{
    color: var(--accent);
}

.tc-dark{
    color: var(--dark);
}

.tc-white{
    color: var(--white) ;
}

.ml-3{
    margin: 0 2px;
}

.font-cursive{
    font-family: 'Macondo', cursive;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* border: 3px solid red; */
}

#background-image {
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 100vw;
    height: 100vh;
    border-radius: 4px!important;
    box-shadow: 3px 3px 16px 8px #fbfbfb;
}

.top{
    padding: 0 1rem;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.top span{
    font-weight: bolder;
}

.top span,
.bottom .controls-left,
.bottom .controls-right{
    padding: 0 5px;
}

.center {
    border: 1px solid #000;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-cd {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.circle-cd.active{
    width: 250px;
    height: 250px;
    animation-name: play;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bottom{
    height: 27%;    
}

.bottom .controls{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.bottom .controls-left,
.bottom .controls-center,
.bottom .controls-right{
    width: 133px;
    height: 100%;
    display: flex;
    align-items: center;
}
/* .bottom .controls-left{
    width: 170px;
} */

.bottom .controls-center{
    justify-content: center;    
}

.bottom .controls-right{
    justify-content: end;
    position: relative;
}

.d-none{
    display: none!important;
}

.playlist,
.search{
    border: 1px solid #000;
    height: 100vh;
    width:300px;
    position: absolute;
    top: 0;
    transition: all .9s;
    border-radius: 4px;
    overflow-y: scroll;
    z-index: 999;
}

.playlist {
    left: -1000px;
}

.search-container {
    display: flex;
}

.fa-napster {
    cursor: pointer;
}

.search {
    right: -1000px;
}

#search-btn {
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
}

.search input {
    width: 100%;
    height: 35px;
}

.playlist-toggle{
    left: 0;
}

.search-toggle {
    right: 0;
}

.controls-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    white-space: nowrap;
    max-width : 60px;
    min-width: 7rem;
}

.custom_animation {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.track-playlist{
    width: 100%;
}

.track-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--accent);
}

.track-card.active {    
    background: linear-gradient(var(--dark) 85%, var(--accent));
}

.track-card .fa-circle-pause{
    display: none;
}
.track-card.active .fa-circle-play{
    display: none;
}
.track-card.active .fa-circle-pause{
    display: block;
}

.thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.playlist-title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.playlist-play{
    margin-right: 15px;
}

#track-artist{
    font-weight: bolder;
    font-size: 12px;
}

#track-title{
    font-size: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
::-moz-webkit-scrollbar{
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}



#playlist-btn,
#shuffle-btn,
#left-btn,
#play-btn,
#pause-btn,
#right-btn,
#playlist-play,
#playlist-pause,
#volume-btn,
.fa-circle-play,
.fa-volume-high,
.song-length{
    cursor: pointer;
}

#track-artist{
    font-size: 20px;
    
}
#track-title{
    font-size: 13px;
}

#shuffle-btn.active{
    color: var(--green);
    text-shadow: -1px 0px 23px var(--green);
    
}

.time{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    align-items: first baseline;
}

.song-length{
    background-color: var(--white);
    width: 75%;
    height: 2px;
    margin: 0 3px;
    border-radius: 4px;
    position: relative;    
}
.song-current{
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    background-color: var(--green);
    height: 2px;
    width: 0%;
    z-index: 2;
}
.fa-volume-high::after{
    content: '';
    width: 10px;
    height: 50px;
    background-color: var(--accent);
}
#volume-btn{
    width: 30px;
    height: 110px;
    position: absolute;
    bottom: 14px;
    right: 0px;  
    border-radius: 4px;
    padding-bottom: 20px;
}
#volume-btn:hover{
    color: var(--accent)!important;
}
#volume-btn:hover>.volume-bar{
    height: 100%;
    opacity: 1;
}
.volume-bar{
    background-color: var(--accent);    
    opacity: 0;
    height: 0px;
    padding-top: 6px;
    border-radius: 4px;
    overflow: hidden;
    transition: .3s ease-out;
}
#volume-slider{
    background-color: var(--white);
    height: 85px;
    width: 4px;
    margin: 0 auto;
    border-radius: 999px;
}
#volume-cursor{
    position: relative;
    height: 60%;
    background-color: #a9a9a9;
    border-radius: 999px;
    transition: .1s ease;
}

#volume-cursor-handle{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    bottom: -5px;
    left: -3px;
    border-radius: 50%;
}


.px-2{    
    padding: 0 2px;
}

@keyframes play {
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 600px) {
    .circle-cd {
        width: 300px;
        height: 300px;
    }

    .circle-cd.active {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 800px) {
    .circle-cd {
        width: 350px;
        height: 350px;
    }

    .circle-cd.active {
        width: 400px;
        height: 400px;
    }
    
    .time{
        align-items: center;
        height: 22px;
    }

    .center {
        height: 77%;
    }
}